body{
margin-left: 200px;
margin-right: 200px;
font-family: 'aktiv-grotesk',sans-serif;
}

/* header */

#vexheader{
height: 25px;
margin-left: 100px;
}

.vexheaderimg{
height: 15px;
padding: 0px 12px;

}

/* searchbar */

#searchbar{
width: 100%;
height: 80px;
padding-left: 40px;
display: block;
}

#searchbar :first-child{
height: 40px;
display: inline-block;
}

.ul24{

    
}

#searchbox{
height: inherit;
display: inline-block;
}


.rightsearch{
width: 200px;
height: 20px;
padding: 0px 0px 0px 0px;
display: inline;
float: right;


}

/* When four values are specified, the paddings apply to the top, right, bottom, and left in that order (clockwise). 
notes from google  */

.rightsearch p{
display: inline-block;
}

/* navbar 2 NEEDS LOVE */
#navbar2{
background-color: white;
}


#navbar2left{
font-family: 'aktiv-grotesk',sans-serif;
font-size: 13px;

width: 50%;
}

.navLI1{
list-style-type: none;
color: rgb(73, 73, 73);
display: inline;
}

.navLIimg1{
width: 15px;
display: inline;
}


#navbar2right{
font-family: 'aktiv-grotesk',sans-serif;
font-size: 13px;
margin-left: 70%;
margin-bottom: 0px;
}

.navLI2{
color: #D22630;
list-style-type: none;
display: inline-block;

}


/* SITE MESSAGE 19. */
#PRICE{
text-align: center;
border: 2px solid;
}

#SEEHERE{
color: #D22630;
display: inline-block;
}

/* inspiring message  */


#InspiringTitle{
font-family: 'aktiv-grotesk',sans-serif;
text-align: center;
color: #D22630;

}


#InspiringTitle :first-child{
font-weight: normal;
display: inline-block;
}


/* CLAWBOT KIDS */
#clawbotkids{
height: 100%;
}


/* STEM CHRISIS */

#stem-parrent1{
height: 15%;
background-color: rgb(150, 150, 150);
font-family: 'aktiv-grotesk',sans-serif;
text-align: center;
color: white;
border-bottom: 
}


#stem-parrent2{
background-color: rgb(99, 99, 99);
font-family: 'aktiv-grotesk',sans-serif;
text-align: center;
font-size: 30px;
color: white;
}

#stem-parrent2 :first-of-type{
margin: 0px 0px;
padding: 12px 0px;
}

/* conatiner  with divs n stuff */
#containermain{
font-family: 'aktiv-grotesk',sans-serif;
color: white;
width: 100%;
margin-top: 15px;
}

.containertitleimg{
height: 100px;

}

.containerimage{
height: 400px;
display: block;
}


#conatinerleft{
background: #0077C8;
width: 40.2%;
display:inline-block;
border-radius: 15px; 
text-align: center;
padding: 15px;
}


#containerright{
background: #D22630;
width: 45%;
display: inline-block;
border-radius: 15px; 
text-align: center;
padding: 15px;
margin: 0px 0px 0px 156px;
}




/* compeittion flex */
#CompeittionMain{
background-color: black;
color: white;
text-align: center;
padding: 6px 0px 6px 0px;
font-size: 20px;
margin: 100px 0px 0px 0px;
height: 700px;
}

#compeittionimage{
width: 100%;
}

/* recreation produdcts */
#containermain{
font-family: 'aktiv-grotesk',sans-serif;
color: white;
width: 100%;
margin-top: 15px;
}
    
.recreationimg{
height: 100px;
}
    
.containerimage{
height: 400px;
display: block;
}
    
#recleft{
background: #009639;
width: 20%;
display:inline-block;
border-radius: 15px; 
text-align: center;
padding: 15px;
margin: 0px 0px 0px 25%;
}
#recleft img{
height: 40px;
}
    

#recright{
background: #FF671f;
width: 20%;
display: inline-block;
border-radius: 15px; 
text-align: center;
padding: 15px;
margin: 0px 0px 0px 156px;
}
#recright img{
height: 40px;
}
    


/* FOOTER */
#footer{
background-color: rgb(228, 228, 228);
margin-top: 15px;
}

#row{
color: #D22630;
font-family: 'aktiv-grotesk',sans-serif;
}
#row div {
display: inline-block;
padding: 0px 46px; 
}

/* BOTTOM BOOTER */
#bottomfooter{
padding: 20px 0px 100px 0px;
font-family: 'aktiv-grotesk',sans-serif;
}

#IFI{
height: 60px;
padding: 50px 0px 0px 100px;
display: inline-block;
}

#MissionStatement{
text-align: center;
display: inline-block;
width: 600px;
padding: 0px 0px 0px 150px;
}


#Social-media{
display: contents inline-block;


}

.Socal-mediaimg{
height: 40px;
padding: 0px 40px 30px 0px;
float: right;
}